body{
    display: block;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 334px;
    background: white;
}
.cajalogo{
    width: auto;
    height: 250px;
    display: flex;
    align-self: center;    display: flex;
    align-self: center;
    align-items: flex-end;
    align-items: flex-end;
}
.logo {

}
.navegador{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 48px;
    background-color:rgb(66, 190, 39);
    width: 100%;
    height: 110px; 
}
ul{
    display: flex;
    margin: 0px;
    padding: 0,20px,0, 20px;
}
li{
    display: inline;
    width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.navegador ul li a{
  color: white;
  text-decoration: none;
}
.navegador ul li a:hover{
    color: yellow;
    text-decoration: none;
  }